.formbox {
    width: 400px;
    margin: auto;
    margin-top: 12%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, rgb(224, 73, 218), rgb(236, 231, 71));
    box-shadow: 10px 10px 45px black;
  }
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
  
  button {
    height: 35px;
    width: 120px;
    margin-left: 60px;
    font-weight: 900;
    margin-bottom: 2rem;
    border-radius: 1rem;
    margin-right: 3rem;
    cursor: pointer;
    box-shadow: 1px 1px 10px;
    font-size: 1rem;
  }
  
  input {
    height: 2rem;
    border-radius: 1rem;
    width: 13rem;
    font-size: 1rem;
    padding-left: 4rem;
  }
  
  .line {
    padding-bottom: 1rem;
  }
  
  img {
    margin-top: 5px;
    height: 8rem;
    width: 8rem;
  }
  
  .logo {
    overflow: hidden;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    margin: auto;
    display: flex;
    background-color: rgb(207, 209, 209);
  }
  
  .fa-solid {
    transform: translateX(40px);
  }
  